WcfMVC/Connected Services/DepartmentServiceReference/DepartmentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DepartmentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51128/DepartmentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51128/DepartmentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51128/DepartmentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Project4_WCF" />
      <xsd:import schemaLocation="http://localhost:51128/DepartmentService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDepartmentService_GetAllDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDepartments" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetAllDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_CreateDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDepartment" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_CreateDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_UpdateDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDepartment" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_UpdateDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_DeleteDepartmentById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDepartmentById" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_DeleteDepartmentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDepartmentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetAllDepartmentNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDepartmentNames" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetAllDepartmentNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDepartmentNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetDepartmentNamesByPrefix_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentNamesByPrefix" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetDepartmentNamesByPrefix_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentNamesByPrefixResponse" />
  </wsdl:message>
  <wsdl:portType name="IDepartmentService">
    <wsdl:operation name="GetAllDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/GetAllDepartments" message="tns:IDepartmentService_GetAllDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/GetAllDepartmentsResponse" message="tns:IDepartmentService_GetAllDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/CreateDepartment" message="tns:IDepartmentService_CreateDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/CreateDepartmentResponse" message="tns:IDepartmentService_CreateDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/UpdateDepartment" message="tns:IDepartmentService_UpdateDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/UpdateDepartmentResponse" message="tns:IDepartmentService_UpdateDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDepartmentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/DeleteDepartmentById" message="tns:IDepartmentService_DeleteDepartmentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/DeleteDepartmentByIdResponse" message="tns:IDepartmentService_DeleteDepartmentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartmentNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/GetAllDepartmentNames" message="tns:IDepartmentService_GetAllDepartmentNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/GetAllDepartmentNamesResponse" message="tns:IDepartmentService_GetAllDepartmentNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentNamesByPrefix">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/GetDepartmentNamesByPrefix" message="tns:IDepartmentService_GetDepartmentNamesByPrefix_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/GetDepartmentNamesByPrefixResponse" message="tns:IDepartmentService_GetDepartmentNamesByPrefix_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDepartmentService" type="tns:IDepartmentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllDepartments">
      <soap:operation soapAction="http://tempuri.org/IDepartmentService/GetAllDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDepartment">
      <soap:operation soapAction="http://tempuri.org/IDepartmentService/CreateDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartment">
      <soap:operation soapAction="http://tempuri.org/IDepartmentService/UpdateDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDepartmentById">
      <soap:operation soapAction="http://tempuri.org/IDepartmentService/DeleteDepartmentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartmentNames">
      <soap:operation soapAction="http://tempuri.org/IDepartmentService/GetAllDepartmentNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentNamesByPrefix">
      <soap:operation soapAction="http://tempuri.org/IDepartmentService/GetDepartmentNamesByPrefix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DepartmentService">
    <wsdl:port name="BasicHttpBinding_IDepartmentService" binding="tns:BasicHttpBinding_IDepartmentService">
      <soap:address location="http://localhost:51128/DepartmentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>